.outerShield {
    fill:none;
    stroke:#ffffff;
    stroke-width:5;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}


.mainBody, 
.innerShield {
    fill:none;
    stroke:#ffffff;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-width:1.5;
}

.logo {
    height: 50%;
    width: 50%;
}